{% extends 'base.html.twig' %}

{% block content %}
    {{ parent() }}
    <body class="homepage">
    <div class="container">

        <div class="home-menu">
            <h1>Administration</h1>
            <div class="home-icons">
                <a class="col-md-4" href="info">
                    <img class="icon" src="img/ic_store_info.png">
                    <div>Store Information</div>
                </a>
                <a class="col-md-4" href="distribution">
                    <img class="icon" src="img/ic_distribution.png">
                    <div>Distribution Information</div>
                </a>
                <a class="col-md-4" href="angebote">
                    <img class="icon" src="img/ic_angebote.png">
                    <div>Advertising Promotion</div>
                </a>


            </div>
        </div>

    </div><!-- /.container -->
    </body>

{% endblock %}

{% block stylesheets %}
{% endblock %}
