{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">

            <fieldset>
                <legend>Shop Info</legend>


                {{ form_start(form) }}

                {{ form_widget(form) }}

                {{ form_end(form) }}





            </fieldset>



    </div>
{% endblock %}